<h2>Edit Wish</h2>

<form
  method="post"
  hx-post="{% url 'gifting:wish_detail' object.wishlist.id object.id %}"
  hx-target="#wishlist-section"
>
  {% csrf_token %}

  <p>Title: {{ form.title }}</p>
  <p>Description:<br>{{ form.description }}</p>
  <p>Price: {{ form.price }}</p>
  <p>URL: {{ form.url }}</p>

  <button type="submit">Save</button>
</form>



<p>
  <button
    hx-get="{% url 'gifting:wishlist_detail' object.wishlist.id %}"
    hx-target="#wishlist-section"
    hx-push-url="true"
  >
    ← Back to {{ object.wishlist.name }}
  </button>
</p>
