<button
  hx-get="{% url 'gifting:dashboard' %}"
  hx-target="#wishlist-section"
  hx-push-url="true">
  x Close Wishlist
</button>

<h2>{{ object.name }}</h2>
<p>Created at: {{ object.created_at }}</p>

<ul>
  {% for wish in object.wishes.all %}
  <li>
    <button
      hx-get="{% url 'gifting:wish_detail' object.id wish.id %}"
      hx-target="#wishlist-section"
      hx-push-url="true">
      {{ wish.title }}
    </button>
{% if wish.url %}
  <a href="{{ wish.url }}" target="_blank">Product Link</a>
{% endif %}
  </li>

  {% empty %}
  <li>No gifting yet.</li>
  {% endfor %}
  <li>
    <button
      hx-get="{% url 'gifting:wish_create' object.id %}"
      hx-target="#wishlist-section"
      hx-push-url="true"
    >
    Add Item
    </button>
  </li>
</ul>

<form
  hx-post="{% url 'gifting:wishlist_delete' object.id %}"
  hx-target="#wishlist-section"
  hx-confirm="Delete this wishlist and all its gifting?"
  hx-push-url="{% url 'gifting:dashboard' %}"
>
{% csrf_token %}
<button type="submit">Delete Wishlist
</button>
</form>
