<button
  hx-get="{% url 'gifting:wishlist_empty' %}"
  hx-target="#dash-content"
  hx-swap="innerHTML"
  hx-push-url="{% url 'gifting:wishlist_list' %}"
>
  x Close Wishlist
</button>

<h2>{{ object.name }}</h2>
<p>Created at: {{ object.created_at }}</p>

<ul>
  {% for wish in object.wishes.all %}
  <li>
    <button
      hx-get="{% url 'gifting:wish_detail' object.id wish.id %}"
      hx-target="#dash-content"
      hx-push-url="true"
      hx-swap="innerHTML"
    >
      {{ wish.title }}
    </button>
    {% if wish.url %}
    <a href="{{ wish.url }}" target="_blank">Product Link</a>
    {% endif %}
  </li>

  {% empty %}
  <li>No gifting yet.</li>
  {% endfor %}
  <li>
    <button
      hx-get="{% url 'gifting:wish_create' object.id %}"
      hx-target="#dash-content"
      hx-push-url="true"
    >
      Add Item
    </button>
  </li>
</ul>

<form
  hx-post="{% url 'gifting:wishlist_delete' object.id %}"
  hx-target="#dash-content"
  hx-confirm="Delete this wishlist and all its gifting?"
  hx-push-url="{% url 'gifting:dashboard' %}"
>
  {% csrf_token %}
  <button type="submit">Delete Wishlist</button>
</form>